<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ELFSharp" version="2.0.0" targetFramework="net462" />
  <package id="libltknet-sdk" version="10.28.0" targetFramework="net462" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="OctaneSDK" version="2.28.1" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>